/* css RN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-style:normal;
  font-weight:300;

}
h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight:normal;
  font-style: normal;
  font-size: 40px;
  text-align:left;
}
p{
  line-height: 24px;
}
.article{
    padding: 10px 20px;
    width: 75%;
    margin: auto;
}
.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 5px 0px;
  display: flex;
  justify-content:center;
}

.menu {
/*  border: 1px solid #fff;   For debugging */
  padding: 10px 0px;
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.links {
  /* border: 1px solid #fff; For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}
.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 75%;
  height: 300px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.social,
.logo,
.subscribe {
  border: 1px solid #5995DA;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  /*flex-direction: column;
  align-items: center;*/
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}
